<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ItemChecker.Properties.MainProperties" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ItemChecker.Properties.RareProperties" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ItemChecker.Properties.BuyOrdersProperties" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ItemChecker.Properties.ParametersProperties" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ItemChecker.Properties.SettingsProperties" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ItemChecker.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ItemChecker.Properties.MainProperties>
            <setting name="CompletionUpdate" serializeAs="String">
                <value>True</value>
            </setting>
        </ItemChecker.Properties.MainProperties>
        <ItemChecker.Properties.RareProperties>
            <setting name="Timer" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="FloatFN" serializeAs="String">
                <value>0.001</value>
            </setting>
            <setting name="FloatMW" serializeAs="String">
                <value>0.08</value>
            </setting>
            <setting name="FloatFT" serializeAs="String">
                <value>0.175</value>
            </setting>
            <setting name="FloatWW" serializeAs="String">
                <value>0.4</value>
            </setting>
            <setting name="FloatBS" serializeAs="String">
                <value>0.5</value>
            </setting>
        </ItemChecker.Properties.RareProperties>
        <ItemChecker.Properties.BuyOrdersProperties>
            <setting name="Timer" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MinPrecent" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="ServiceId" serializeAs="String">
                <value>0</value>
            </setting>
        </ItemChecker.Properties.BuyOrdersProperties>
        <ItemChecker.Properties.ParametersProperties>
            <setting name="Timer" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="RareTimer" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MinPrecent" serializeAs="String">
                <value />
            </setting>
        </ItemChecker.Properties.ParametersProperties>
        <ItemChecker.Properties.SettingsProperties>
            <setting name="MicaTheme" serializeAs="String">
                <value>True</value>
            </setting>
        </ItemChecker.Properties.SettingsProperties>
        <ItemChecker.Settings>
            <setting name="MicaTheme" serializeAs="String">
                <value>True</value>
            </setting>
        </ItemChecker.Settings>
    </userSettings>
</configuration>